<!doctype html>
<html lang="en" id="ng-app" ng-app="peerTutor">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Tutor Lookup &mdash; Peddie Peer Tutoring</title>

  <link rel="stylesheet" type="text/css" href="/css/compiled/app.css">
  <script src="/js/compiled/app.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-8341880-5', 'peddie.org');
    ga('send', 'pageview');
  </script>
</head>
<body ng-controller="AppCtrl">
  <div class="container">

    <div class="page-header">
      <h1>
        <small style="display: block">Peddie School</small>
        Peer Tutoring Program
      </h1>
    </div>

    <!--[if lt IE 10]>
      <div class="alert alert-danger">
        <strong>Doesn&rsquo;t work in IE 9 or earlier!</strong> &nbsp;This website does not work properly in Internet Explorer 9 or earlier. &nbsp;Please update Internet Explorer, or use a modern browser like Google Chrome or Mozilla Firefox to visit this site.
      </div>
    <![endif]-->

    <div id="main" class="col-sm-8">
      <div class="panel panel-primary">
        <div class="panel-heading">Find tutors</div>
        <div id="query_form" class="panel-body">
          <form class="form-inline" role="form" ng-controller="QueryCtrl">
            <select id="subject_select" ng-model="$parent.subject" ng-options="subject.id as subject.name group by subject.subject_area for subject in subjects" class="form-control">
            </select>
            <select id="dorm_select" ng-model="$parent.dorm" ng-options="dorm.id as dorm.name group by dorm.type for dorm in dorms" class="form-control">
            </select>
            <select id="day_select" ng-model="$parent.dutyDay" ng-options="dutyDay.id as dutyDay.name for dutyDay in dutyDays" class="form-control">
            </select>
            <a ng-show="subject != 'null' || dorm != 'null' || dutyDay != 'null'" ng-click="clearSelection()" class="btn btn-link">Reset</a>
          </form>
        </div>
        <ul id="result_list" class="list-group" ng-controller="ListCtrl">
          <li ng-hide="tutors.length" class="list-group-item">
            <h4>No tutors found on your specified day :(</h4>
            <p class="list-group-item-text">
              Perhaps you can try another duty day option? &nbsp;If that didn&rsquo;t help, you may have selected a subject that we don&rsquo;t offer yet&mdash;feel free to talk to our co-presidents <a href="mailto:rjin-14@peddie.org">Richard Jin</a> and/or <a href="mailto:zjiang-14@peddie.org">Ziwen Jiang</a>.
            </p>
          </li>
          <li ng-repeat="scoredTutor in tutors" class="tutor list-group-item">
            <div class="media">
              <a class="pull-left hidden-xs" href="#" ng-if="scoredTutor.tutor.has_picture" ng-click="setCurrentTutor(scoredTutor.tutor)" title="Click to enlarge">
                <img class="media-object" ng-src="{{scoredTutor.tutor.email_prefix | tutorPicturePath}}" ng-alt="{{scoredTutor.tutor.name}}&rsquo;s picture" style="width: 80px;">
              </a>
              <div class="media-body">
                <h4 class="media-heading">
                  {{scoredTutor.tutor.name}} &nbsp;
                  <small style="white-space: nowrap">
                    <a class="mailto-link" ng-href="{{scoredTutor.tutor | mailtoLink:dutyDaysById[dutyDay]:subjectsById[subject] | gmailHttpsMailto}}" ng-click="mailtoClicked(scoredTutor.tutor)" title="Compose an email with our template" target="_blank"><span class="glyphicon glyphicon-envelope"></span> {{scoredTutor.tutor.email_prefix}}</a>
                  </small>
                  <small class="pull-right">
                    <span ng-bind-html="scoredTutor.tutor.duty_days | expandAndHighlight:dutyDaysById:[dutyDay]"></span> @ 
                    <strong><em ng-bind-html="scoredTutor.tutor.dorms | expandAndHighlight:dormsById:[dorm]"></em></strong>
                  </small>
                </h4>
                <div class="clearfix"></div>
                <ul class="list-inline" ng-bind-html="scoredTutor.tutor.subjects | makeListItemsAndHighlight:subjectsById:[subject]"></ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="instructions" class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">The new Peer Tutoring Program</div>
        <div class="panel-body">
          <p class="lead">Peer tutoring now happens in tutors&rsquo; dorm lounges&mdash;there may be a tutor available right in your dorm!</p>
          <p>Use the table on the left to find tutors closest to your dorm.</p>
          <p class="text-danger">You have to make appointments with your tutor via email/chat <em>before <strong>each</strong> visit</em>!</p>
        </div>
        <ul class="list-group">
          <li id="tour_entry" class="list-group-item hidden-xs">
            <h4 class="list-group-item-heading">
              <a href="#" ng-click="forceStartTour()">
                0. Take the 30-second tour
              </a>
            </h4>
            <p class="list-group-item-text">Take the interactive tour to learn how to find tutors quickly through this platform.</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">1. Enter your request</h4>
            <p class="list-group-item-text">Select your Subject, Dorm, and Date to find matching tutors.</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">2. Browse the tutor list</h4>
            <p class="list-group-item-text">Tutors that match your subject are shown in the result list.</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">3. Contact a tutor</h4>
            <p class="list-group-item-text">Click the link next to your tutor&rsquo;s name to send an email with our autocomplete template.</p>
          </li>
          <li class="list-group-item">
            <p class="list-group-item-text">Tutors are generally available 8&ndash;10 PM on duty days in their dorm lounges upon request.</p>
          </li>
          <li id="policies" class="list-group-item">
            <p class="list-group-item-text">Contact your tutor via email or Peddie Email chat before or during study hall on their duty days. &nbsp;Our tutors will be online during study hall for last-minute appointments. &nbsp;<em>If a tutor is not available on a certain day, do not contact him/her.</em></p>
          </li>
        </ul>
      </div>
    </div>

    <div id="footer" class="col-sm-12">
      <p class="text-muted">
        This tutor lookup site is an <a href="https://github.com/jiehanzheng/peddie_peertutor-java" target="_blank">open source project</a> of Jiehan Zheng &rsquo;14 and Adam Yufan Zhang &rsquo;14.<br />
        We are looking for a few developers and maintainers for next year.&nbsp;&nbsp;<a href="mailto:jzheng-14@peddie.org" target="_blank">Send me an email</a> if you are interested!
      </p>
    </div>

  </div><!-- /.container -->

  <div id="tutor_picture_modal" class="modal fade" ng-if="currentTutor" ng-controller="TutorPictureCtrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{currentTutor.name}}&rsquo;s picture</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <img ng-src="{{currentTutor.email_prefix | tutorPicturePath}}" class="col-sm-6 col-sm-offset-3" ng-alt="{{currentTutor.name}}&rsquo;s picture">
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->

</body>
</html>
