<!doctype html>
<html lang="en" ng-app="peerTutor" ng-controller="AppCtrl">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Tutor Lookup &mdash; Peddie Peer Tutoring</title>

  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/angular-loading-bar/build/loading-bar.min.css">

  <script src="/bower_components/jquery/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>

  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/filters.js"></script>

</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1>
        <small style="display: block">Peddie School</small>
        Peer Tutoring Program
      </h1>
    </div>

    <div id="main" class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">Find tutors</div>
        <div class="panel-body">
          <form class="form-inline" role="form" ng-controller="QueryCtrl">
            <select ng-model="$parent.subject" class="form-control">
              <optgroup label="I need help on&hellip;">
                <option value="null">Any subject</option>
                <option ng-repeat="subject in subjects" value="{{subject.id}}">{{subject.name}}</option>
              </optgroup>
            </select>
            <select ng-model="$parent.dorm" class="form-control">
              <option value="null">No dorm preference</option>
              <optgroup label="I need tutors closest to&hellip;">
                <option ng-repeat="dorm in dorms" value="{{dorm.id}}">{{dorm.name}}</option>
              </optgroup>
            </select>
            <select ng-model="$parent.dutyDay" class="form-control">
              <optgroup label="I need help on&hellip;">
                <option value="null">Any day</option>
                <option ng-repeat="dutyDay in dutyDays" value="{{dutyDay.id}}">{{dutyDay.name}}</option>
              </optgroup>
            </select>
            <a ng-show="subject != 'null' || dorm != 'null' || dutyDay != 'null'" ng-click="clearSelection()" class="btn btn-link">Reset</a>
          </form>
        </div>
        <ul class="list-group" ng-controller="ListCtrl">
          <li ng-hide="tutors.length" class="list-group-item">
            <h4>No tutors found on your specified day :(</h4>
            <p class="list-group-item-text">
              Perhaps you can try another duty day option? &nbsp;If that didn&rsquo;t help, you may have selected a subject that we don&rsquo;t offer yet&mdash;feel free to talk to our co-presidents <a href="mailto:rjin-14@peddie.org">Richard Jin</a> and/or <a href="mailto:zjiang-14@peddie.org">Ziwen Jiang</a>.
            </p>
          </li>
          <li ng-repeat="scoredTutor in tutors" class="list-group-item">
            <h4>
              {{scoredTutor.tutor.name}} &nbsp;
              <small style="white-space: nowrap">
                <a href="{{scoredTutor.tutor.email_prefix | mailtoLink:dutyDaysById[dutyDay]:subjectsById[subject]}}"><span class="glyphicon glyphicon-envelope"></span> {{scoredTutor.tutor.email_prefix}}</a>
              </small>
              <small class="pull-right">
                <span ng-bind-html="scoredTutor.tutor.duty_days | expandAndHighlight:dutyDaysById:[dutyDay]"></span> @ 
                <strong><em ng-bind-html="[scoredTutor.tutor.dorm] | expandAndHighlight:dormsById:[dorm]"></em></strong>
              </small>
            </h4>
            <p class="list-group-item-text">
              <ul class="list-inline" ng-bind-html="scoredTutor.tutor.subjects | makeListItemsAndHighlight:subjectsById:[subject]"></ul>
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">The new Peer Tutoring Program</div>
        <div class="panel-body">
          <p class="lead">Peer tutoring now happens in tutors&rsquo; dorm lounges&mdash;there may be a tutor available right in your dorm!</p>
          <p>Use the table on the left to find tutors closest to your dorm.</p>
          <p class="text-danger">You have to make appointments with your tutor via email/chat <em>before <strong>each</strong> visit</em>!</p>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">1. Enter your request</h4>
            <p class="list-group-item-text">Select your Subject, Dorm, and Date to find matching tutors. &nbsp;There is no Search button as the list updates automatically as you select.</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">2. Browse the tutor result list</h4>
            <p class="list-group-item-text">Tutors that matches your subject are shown in the result list. &nbsp;They are sorted based on distance to your dorm.</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">3. Contact a tutor</h4>
            <p class="list-group-item-text">Click the link next to your tutor&rsquo;s name to send an email. &nbsp;Contact your tutor via email or Peddie Email chat <em>at least a few hours before study hall</em>. &nbsp;The tutors will be waiting for you in dorm lounges or their rooms on duty days.</p>
          </li>
          <li class="list-group-item">
            <p class="list-group-item-text">Tutors are generally available 8&ndash;10 PM on their duty days. &nbsp;<em>We are serious about duty days&mdash;if a tutor is not available on a certain day, do not contact him/her.</em></p>
          </li>
        </ul>
      </div>
    </div>

    <div id="footer" class="col-md-12">
      <p class="text-muted">
      This tutor lookup site is an <a href="https://github.com/jiehanzheng/peddie_peertutor-java" target="_blank">open source project</a> of Jiehan Zheng &rsquo;14 and Adam Yufan Zhang <abbr title="Peddie School Class of 2014 and Clarkson School Class of 2014">&rsquo;14</abbr>.<br />
      We are looking for a few developers and maintainers for next year.&nbsp;&nbsp;<a href="mailto:jzheng-14@peddie.org" target="_blank">Send me an email</a> if you are interested!
    </p>
    </div>

  </div>

</body>
</html>
